---
layout: base
title: site.title Blog
---
<section class="hero has-background-pink is-medium">
  <div class="hero-body">
    <div class="container">    	
	      <div class="has-text-centered">
		      <span class="landing-logo is-uppercase has-background-blue has-text-white has-text-weight-bold">Beolla</span><br/>
		      <span class="has-text-white has-text-weight-bold is-size-1 pt-1 blk">Blog</span>
	  	  </div>
    </div>
  </div>
</section>
<section class="section">
	<div class="container">
		
		{% for post in site.posts %}
			{% assign counter = forloop.index %}
			{% assign div3 = counter | modulo:3 %}
			{% if div3 == 1 %}
			<div class="columns">
				<div class="column is-one-quarter">
					Latest News
				</div>
			{% endif %}
			    <div class="column">
			      <h2 class="title is-3"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			      <div class="content">{{ post.excerpt }}</div>
			    </div>
			{% if div3 == 0 or forloop.last %}
			</div>
			{% endif %}
		{% endfor %}
		
	</div>
</section>