---
layout: base
---

<section class="section">
    <div class="container"> 
    	<div class="columns">
    		<div class="column is-one-quarter">
    			<span class="landing-logo is-uppercase has-text-white has-text-weight-bold">Beolla
		      	</span>
    		</div>
    		<div class="column">
    			<h1 class="title is-2 has-text-blue">A boutique software company</h1>
				<div class="is-size-5">
					<p>We build products that are fast.</p>
					<p>We design experience that is delightful.</p>
					<p>We handle legacy system.</p>
				</div>
    		</div>
    	</div>
    </div>
</section>
<!--
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-one-quarter">
			</div>
			<div class="column">
				<h1 class="title is-2 has-text-blue">In a nutshell, we build reliable digital products</h1>
				<div class="is-size-5">
					<p>We build products that are fast.</p>
					<p>We design experience that is delightful.</p>
					<p>We handle legacy system.</p>
				</div>
				
			</div>
		</div>
		<div class="columns">
			<div class="column is-one-quarter">
			</div>
			<div class="column">
				<div class="button is-blue">Learn More About Us</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">		
	
		<div class="columns">
			<div class="column is-one-quarter">
				<div class="side-heading has-bt-red has-text-weight-bold is-size-5">Our Expertise</div>
			</div>
			<div class="column">
				<h1 class="title is-3 has-text-red">Edge</h1>
				<div>
					We focus on delivering low latency and stable applications by making use of devices' computing and storage capability. Offloading workload to the edge reduces monthly cost of your cloud subscription. 
				</div>
			</div>
			<div class="column">
				<h1 class="title is-3 has-text-red">Ease</h1>
				<div>
					We bring expertise in developing consumer applications with millions of users to building user friendly and productive enterprise applications.
				</div>
			</div>
			<div class="column">
				<h1 class="title is-3 has-text-red">Legacy</h1>
				<div>
					We are experts in handling legacy system and existing large code base. We read, understand the code and figure out how to make it ten times better. 
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-one-quarter">
			</div>
			<div class="column">
				<div class="button is-red">Contact Us</div>
			</div>
		</div>

	</div>
</section>

<section class="section has-background-blue is-small has-text-white">
 
    <div class="container">    	
    	<div class="columns">
    		<div class="column is-one-quarter">
    			<div class="side-heading has-bt-white has-text-weight-bold is-size-5 has-text-white">Non-profit?</div>
    		</div>
    		<div class="column is-size-5">
		      We offer free consulting session for non-profit organizations since we believe in doing greater good through digital transformation. Don't hesitate to reach out to us. 
		      <div class="pt-2">
		      	<div class="button is-white"><a href="/about" class="has-text-white">Contact Us</a></div>
		      </div>
	  	  	</div>

    	</div>

  </div>
</section>
-->
<section class="section">
	<div class="container">
		{% assign rows = site.posts.size | divided_by: 2.0 | ceil %}
		{% for i in (1..rows) %}
			{% assign offset = forloop.index0 | times: 2 %}
			<div class="columns">
				<div class="column is-one-quarter">
					{% if forloop.first %}
					<div class="side-heading has-bt-blue has-text-weight-bold is-size-5">Latest News</div>
					{% endif %}
				</div>
				{% for post in site.posts limit:2 offset:offset%}
			    <div class="column">
			      <h2 class="title is-3"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			      <div class="has-text-grey is-size-7" style="margin-bottom: 8px">
			      	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			        {{ post.date | date: date_format }}
			      </div>
			      <div class="content">{{ post.excerpt }}</div>
			    </div>
				{% endfor %}
			</div>
		{% endfor %}

		
	</div>
</section>