<nav class="navbar bl-border-bottom" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="has-text-white has-background-blue has-text-weight-bold is-uppercase logo">Beolla</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/about">
        About
      </a>      
      <a class="navbar-item" href="/blog">
        Blog
      </a> 
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      	<!--
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
    	-->
      </div>
    </div>
  </div>
</nav>