<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">    	
	      <div class="has-text-centered">
		      <p class="title is-1">
		        Selected Article to your inbox weekly
		      </p>
	  	  </div>
	  
	      <div class="">
	      	<div class="field has-addons is-centered">
			  <div class="control">
			    <input class="input is-medium" type="text" placeholder="Enter your email">
			  </div>
			  <div class="control">
			    <a class="button is-medium is-primary">
			      Subscribe
			    </a>
			  </div>
			</div>
			<div class="field is-centered">
				<button class="button is-medium has-background-grey-light">Nhận tin qua Zalo</button>
			</div>	
	      </div>
		     
    </div>
  </div>
</section>