$primary: rgb(231, 81, 59);
$light: rgb(245, 244, 242);
$black: rgb(112, 108, 100);
$blue: #2897ff;
$red: #ff323c;
$dark: #323232;


@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark|Ubuntu&display=swap');
$family-title-sans-serif: 'Palanquin Dark',Helvetica,Arial,sans-serif;
$family-sans-serif: 'Ubuntu',Helvetica,Arial,sans-serif;
$family-primary: $family-sans-serif;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/button.sass";


.title {
	font-family: $family-title-sans-serif;
	font-weight: 400;
}

.bl-border-bottom {
	border-bottom: 1px solid rgb(229, 227, 221);
}
.is-centered, .field.is-centered, .field.has-addons.is-centered {
	justify-content: center;
	display: flex;
}

.has-text-blue {
	color: $blue;
}

.has-text-red {
	color: $red;
}

.has-background-red {
	background-color: $red;
}
.has-bt-blue {
	border-top-color: $blue;
}

.has-bt-red {
	border-top-color: $red;
}

.has-bt-white {
	border-top-color: $white;
}

.side-heading {
	border-top-width: 2px;
	border-top-style: solid;
	padding-top: 15px;
	padding-left: 3px;
	margin-right: 15px;
}