$primary: rgb(231, 81, 59);
$light: rgb(245, 244, 242);
$black: rgb(112, 108, 100);
$blue: #2897ff;
$red: #ff323c;
$dark: #323232;


@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark|Ubuntu&display=swap');
$family-title-sans-serif: 'Palanquin Dark',Helvetica,Arial,sans-serif;
$family-sans-serif: 'Ubuntu',Helvetica,Arial,sans-serif;
$family-primary: $family-sans-serif;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/button.sass";


.title {
	font-family: $family-title-sans-serif;
	font-weight: 400;
}

.bl-border-bottom {
	border-bottom: 1px solid rgb(229, 227, 221);
}
.is-centered, .field.is-centered, .field.has-addons.is-centered {
	justify-content: center;
	display: flex;
}

.has-text-blue {
	color: $blue;
}

.has-text-red {
	color: $red;
}

.has-background-red {
	background-color: $red;
}
.has-background-blue {
	background-color: $blue;
}
.has-background-pink {
	background-color: #e47ead;
}

.has-bt-blue {
	border-top-color: $blue;
}

.has-bt-red {
	border-top-color: $red;
}

.has-bt-white {
	border-top-color: $white;
}

.side-heading {
	border-top-width: 2px;
	border-top-style: solid;
	padding-top: 15px;
	padding-left: 3px;
	margin-right: 15px;
}

.landing-logo {
	padding: 15px 25px;
	font-size: 3.1rem;
	border-radius: 10px;
}

.logo {
	padding: 5px 10px;
	border-radius: 5px;
}
.pt-2 {
	padding-top: 2rem;
}
.pt-1 {
	padding-top: 1rem;
}

.blk {
	display: block;
}

.button.is-blue {
	color: $blue;
	border-color: $blue;
	&:hover {
		border-color: $blue;
	}
	&.is-hovered {
		border-color: $blue;
	}
}

.button.is-red {
	color: $red;
	border-color: $red;
	&:hover {
		border-color: $red;
	}
	&.is-hovered {
		border-color: $red;
	}
}

.button.is-white {
	color: $white;
	background-color: transparent;
	border-color: $white;
	&:hover {
		border-color: $white;
	}
	&.is-hovered {
		border-color: $white;
	}
}

.footer-menu {
	margin-bottom: 10px;
}
a.plain {
	color: inherit !important;
	&:hover {
		text-decoration: underline;
		
	}
}