<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    	{{ page.title | default: site.title }}
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body style="min-height: 100vh;display: flex;flex-direction:column;justify-content: space-between;">
	{% include nav.html %}
    {{ content }}

    <footer class="footer has-background-dark">
	  <div class="columns">
	    <div class="column is-one-quarter">
	    </div>
	    <div class="column has-text-white is-size-6">
	    	<div>Contact</div>
	    	<div>Privacy Policy</div>
	    	<div>Terms of Use</div>
	    	<div>Site Map</div>
	    </div>
	  </div>
	</footer>
  </body>
</html>
